<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<variable name="logdir" value="${basedir}/_logs" />

	<targets>
		<target xsi:type="File" name="appfile"
				fileName="${logdir}/app-${shortdate}.log"
				layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
				archiveEvery="Day"
				archiveNumbering="Date"
				maxArchiveFiles="14" />

		<target xsi:type="File" name="auditfile"
				fileName="${logdir}/audit-${shortdate}.json"
				archiveEvery="Day"
				archiveNumbering="Date"
				maxArchiveFiles="30">
			<layout xsi:type="JsonLayout" includeAllProperties="true">
				<attribute name="ts"          layout="${date:format=o}" />
				<attribute name="level"       layout="${level}" />
				<attribute name="logger"      layout="${logger}" />
				<attribute name="message"     layout="${message}" />
				<attribute name="user"        layout="${aspnet-user-identity}" />
				<attribute name="ip"          layout="${aspnet-request-ip:CheckForwardedForHeader=true}" />
				<attribute name="httpMethod"  layout="${aspnet-request-method}" />
				<attribute name="path"        layout="${aspnet-request-url:IncludeQueryString=true}" />
				<attribute name="action"      layout="${scopeproperty:action}" />
				<attribute name="entityType"  layout="${scopeproperty:entityType}" />
				<attribute name="entityId"    layout="${scopeproperty:entityId}" />
				<attribute name="extra"       layout="${scopeproperty:extra}" />
				<attribute name="exception"   layout="${exception:format=ToString}" />
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*"            minlevel="Info" writeTo="appfile" />
		<logger name="AuditLogger"  minlevel="Info" writeTo="auditfile" final="true" />
	</rules>
</nlog>
